* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 0;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    overflow: visible;
    /* border: 1px solid brown; */
    margin: 0 auto;
}

.navbar {
    background-color: #1f2937;
    height: 70px;
    padding: 7px 30px;
}

.navbar h1 {
    font-size: 30px;
    font-weight: 600px;
    color: white;
    line-height: 1.2;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
   display: flex;
}

.navbar a {
    padding: 10px;
    color: white;
}

.navbar a:hover {
    background-color: #1f2937;
    border-bottom: solid 3px grey;
}

/* END of the heading Nav Section */

/* Beginning of the Header form */


.showcase {
    height: 300px;
    background-color: #1f2937;
    color: #f9faf8;
}

.showcase p {
    margin: 20px;
}

.showcase img {
    box-shadow: 7px 7px 7px rbga(0,0,0,0.2) ; 
}

.showcase-form  {
    padding-left: 7px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item1,
.grid-item2 {
    position: relative;
    top: 30%;
}

.showcase input[type='email'] {
  padding: 12px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
  box-shadow: 0 10px 10px;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    box-shadow: 0 10px 10px black;
    cursor: pointer;
}

.content {
    /* border: 2px solid brown; */
}


.content .stats {
    display: flex;
    height: 300px;
    align-items: center;
}

.content .flex{
    display: flex;
    justify-content: space-between;
}

.content .stat {
    display: flex;
    padding: 20px;
    border: none;
    border-radius: 6px;
    margin: 5px;
    flex-direction: column;
    box-shadow: -7px -7px 20px rgba(0,0,0,0.2);
}

.inspiration {
    background-color: #e5e7eb;
}

.inspiration .flex {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.inspiration .quote {
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding: 40px;
    width: 900px;
}

.inspiration p {
    display: flex;
    align-self: flex-end;
    padding-right: 100px;
    font-size: 30px;
}

.footer {
    background-color: #1f2937;
    color: white;
    
}

.footer .flex {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    /* border: 2px solid red; */
}

.footertext {
    padding-left: 30px;
}

.footer-btn {
    margin-right: 100px;
}